body{
    background-image: url("https://images4.alphacoders.com/909/thumb-1920-909912.png");
}

body{
    /* background-color: #23272a; */
    padding-bottom: 40px;
}

.container h1{
    color:#ffffff;
}

.chat-rooms .my-2{
    color: #99aab5;
}

.chat-rooms .btn{
    background-color: #7289da;
    color: #ffffff;
}

.chat-rooms .btn:active{
    background-color: #3b4d8d;
    color: #ffffff;
}

.input-group-append .btn{
    background-color: #7289da;
    color: #ffffff;
    width:80px;
}
.input-group-append .btn:active{
    background-color: #3b4d8d;
    color: #ffffff;
    width:80px;
}

.input-group-text{
    background-color: #2c2f33;
    color: #99aab5;
}


.chat-list li{
    background-color: #2c2f33;
    color: #ffffff;
}

.chat-list li i{
    float: right;
    cursor: pointer;
}

.username{
    color: #99aab5;
    font-size: 13px;
    font-weight: bold;
}

.message{
    font-size: 14px;
    font-weight: 500;
}

.time{
    color:   #56595c;
    font-size: 9px;
    font-weight: bold;
}

.update-mssg{
    margin : auto;
    margin-top: 20px;
    /* : 5px; */
    width: 300px;
    border-radius: 10px;
    background-color: #56595c;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}