body{
    background-color: darkgray;
}
.wrapper{
    background-color: antiquewhite;
    margin:10px auto;
    width: 850px;
}

.image img{
    float:left;
    margin:10px;
}

.image:after{
    content:" ";
    clear:both;
    display:block;
}

.content{
    padding:1%;
    margin:1%;
}


.coloumn1,.coloumn2{
    background-color:lightblue;
}

.coloumn1{
    float:left;
    width:42%;
    margin:0 2%;
}

.content:after{
    content:"";
    clear:both;
    display: block;
}



