p{
    font-weight:bold;
    /* width */
    width : 50%;
    /* border */
    border: 3px dashed black;
    /* padding */
    padding: 20px;
    text-align: center;
    /* all around margin */
    margin:20px;
    /* margin top */
    margin-top:50px;
    font-family: Arial, Helvetica, sans-serif;
    cursor : not-allowed;
}